In [1]:
mixed  = [365, 'days',True]
print(mixed)

[365, 'days', True]

In [68]:
m = [[1,2,3],[4,5,6]]
#print (m[0][1])
#print (m[1][2])
for row in m:
   # for col in row:
    print(row)
#'''for i in range(len(m)):
#    for j in range(len(m[i])):
  #      print(m[i][j]
    #this gives the number of rows
#len(m[0])#this gives the number of column in the given row
#'''

[1, 2, 3]
[4, 5, 6]

In [56]:
"""Using a nested list to store Employee Data method A"""
employee = [['Name','Age','Deparment'],['John Mckee',38,'Sales'],['Lisa Crawford',29,'Marketing'],['Sujan Patel',33,'HR']]
for i in range(1,len(employee)):
    #for j in employee:
        print(employee[0][0],':',employee[i][0])
        print(employee[0][1],':',employee[i][1])
        print(employee[0][2],':',employee[i][2])
        print('--------------'*4)

Name : John Mckee
Age : 38
Deparment : Sales
--------------------------------------------------------
Name : Lisa Crawford
Age : 29
Deparment : Marketing
--------------------------------------------------------
Name : Sujan Patel
Age : 33
Deparment : HR
--------------------------------------------------------

In [63]:
"""Using a nested list to store Employee Data method B"""
employees = [['Name','Age','Deparment'],['John Mckee',38,'Sales'],['Lisa Crawford',29,'Marketing'],['Sujan Patel',33,'HR']]
for employee in employees:
    print(employee)
    print("Name:",employee[0])
    print("Age:",employee[1])
    print("Department",employee[2])
    print('_._'*20)

['Name', 'Age', 'Deparment']
Name: Name
Age: Age
Department Deparment
_.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__._
['John Mckee', 38, 'Sales']
Name: John Mckee
Age: 38
Department Sales
_.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__._
['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department Marketing
_.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__._
['Sujan Patel', 33, 'HR']
Name: Sujan Patel
Age: 33
Department HR
_.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__.__._

In [71]:
m = [[1,2,3],[4,5,6]]
for e in m:
    for f in e:
        print (f)

1
2
3
4
5
6

In [74]:
X = [[1,2,3],[4,5,6,],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

#Initializing a result placeholder
result = [[0,0,0,],[0,0,0],[0,0,0]]

#Iterate through rows
for i in range(len(X)):
    for j in range(len(X[i])):
        result[i][j] = X[i][j]+Y[i][j]

print (result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [85]:
M = [[1,2],[4,5],[3,6]] #matrix of dimension 3x2
N = [[1,2,3,4],[5,6,7,8]]#matrix of dimension 2x4
result = [[0,0,0,0],[0,0,0,0],[0,0,0,0]]
#iterating by row of M
for i in range(len(M)): 
    #iterating by column by N
    for j in range(len(N[0])):
        #iterating  by rows of N
        for k in range(len(N)):
            result[i][j] += M[i][k] * N[k][j]

for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [86]:
"""UPraticing List Methods"""
shopping = ['bread','milk','eggs']
print(len(shopping))

3

In [88]:
list_1 = [1,2,3]
list_2 = [4,5,6]
final_list = list_1 + list_2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [90]:
shopping = ["bread","milk","eggs"]
shopping.append('apple')
print (shopping)

['bread', 'milk', 'eggs', 'apple']

In [2]:
#creating a empty list
shopping = []
#adding the item into the shopping list using append method
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)
#Using insert method to add the element at desired positon 
shopping.insert(2,'ham')
print(shopping)

['bread', 'milk', 'eggs', 'apple']
['bread', 'milk', 'ham', 'eggs', 'apple']

In [6]:
'''Storing the movie record using the dictionary'''
movie = {
    'title' : 'The Godfather',
    'director' : 'Francis Ford Coppola',
    'Year' : 1972,
    'rating' :9.2
}

print("The Oscar wining movie ",movie['title'],'was release on ',movie['Year'],'.')
print( "Wait we have a new rating for the movie....")
movie['rating'] = (movie['rating']+9.3)/2
print("...and it is ",movie['rating'])

The Oscar wining movie  The Godfather was release on  1972 .
Wait we have a new rating for the movie....
...and it is  9.25

In [8]:
"""Constructing a new Movie Dictionay from scratchand extend it using key-value assignment"""
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

#storing a list inside the dictionary as well as storing the dictionary within tht dictionary
movie['actors'] = ['Marlon Brando','Al Pacino','James Caan']
movie['other_details'] = {
    "run_time" : 175,
    'language' : "English"
}
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'run_time': 175, 'language': 'English'}}

In [15]:
"""Storing Company Employee Table Data Using a list and a Dictionay"""
employees = [{'name' : 'John Mckee',
              'age' : 38,
             'department' : 'Sales'},
             {'name' : 'Lisa Crawford',
             'age' : 29,
             'department' : 'Marketing'},
             {'name' : 'Sujan Patel',
             'age': 33,
             'department' : 'HR'} 
             ]

#print( employees)
#printing the details of each employee in a presentable format
for item in employees:
    print ('Name :',item['name'])
    print('Age:',item['age'],)
    print('Department:',item['department'])
    print('-'*30)

Name : John Mckee
Age: 38
Department: Sales
------------------------------
Name : Lisa Crawford
Age: 29
Department: Marketing
------------------------------
Name : Sujan Patel
Age: 33
Department: HR
------------------------------

In [23]:
''' Adding new elemet to the tuple
    We are unable to append method to add new item to an exising tuple.
    SO, the only way to get around this is to create a new tuple
    by concanating the exisiting tuple with other new items.
'''
t = ('bread','milk','eggs')
print(t + ('apple' ,'orange'))
print(t)

#Tuples also support mixed type and nesting
t_mixed = 'apple',True , 3
print(t_mixed)
#We can declare a tuple without using parentheses
t_shopping = ('apple',3),('orange',2),('banana',12)
print(t_shopping)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')
('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 12))

In [ ]:
# sets left